<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mljr.heil.mapper.TaskJobLogMapper" >
  <resultMap id="BaseResultMap" type="com.mljr.heil.entity.TaskJobLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="jobGroup" property="jobgroup" jdbcType="VARCHAR" />
    <result column="jobName" property="jobname" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="takesInMs" property="takesinms" jdbcType="BIGINT" />
    <result column="success" property="success" jdbcType="BIT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="jobClass" property="jobclass" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jobGroup, jobName, name, startTime, endTime, takesInMs, success, version, jobClass, 
    tags, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_job_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_job_log
    where id = #{id,jdbcType=BIGINT}
  </delete>

</mapper>